.landing-header {
  background-image: url('./quinowrap-wallpaper.jpg');
  background-size: cover;
  background-position: center;
  padding: 113px 20px;
  text-align: center;
}

.background-opacity {
  background-color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
}

.landing-ingredients {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.2)), url('./tortilla_quinowrap.webp');
  background-size: cover;
  background-position: center;
}